<% content_for :header do %>
<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        micropost published
      </h1>
    </div>
  </div>
</section>
<% end %>

  <div class="hero-body">
      <div class="container">
        <% @microposts.each do |micropost| %>
          <div >
            <div class="notification" style="width: 900px; margin:0px ", wrapper: false><%= micropost.content %></div>
            <p class="tag is-warning">published by <%= micropost.user.name %> <%= micropost.user.last_name %> </p>
          
            <% if micropost_author(micropost) %>
              <%= link_to 'Edit', edit_micropost_path(micropost), class: "button is-small" %>
              <%= link_to 'Delete', micropost, method: :delete, data: { confirm: "Are you sure ?" }, class: "button is-small" %>
              <% elsif user_signed_in? %>
              <div style="width: 280px; float: right; aling-text:right">
                <%= link_to 'whatched', "#", class: "button is-small is-rounded" %>
              </div>
            <% end %>

        </div>
        <br>
        <% end %>
    </div>
  </div>

